name: Docker Release

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

on:
    schedule:
        -   cron: '36 18 * * *'
    push:
        branches: [ master ]
        tags:
            - "*"
    pull_request:
        branches: [ master ]

env:
    REGISTRY: ghcr.io
    IMAGE_NAME: larvatecn/php

jobs:

    build74:

        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
            id-token: write

        steps:
            -   name: Checkout repository
                uses: actions/checkout@v6

            -   name: Install cosign
                uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad
                with:
                    cosign-release: 'v1.4.0'

            -   name: Setup Docker buildx
                uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f

            -   name: Log into registry ${{ env.REGISTRY }}
                uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9
                with:
                    registry: ${{ env.REGISTRY }}
                    username: ${{ github.actor }}
                    password: ${{ secrets.GITHUB_TOKEN }}

            -   name: Extract Docker metadata
                id: meta
                uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051
                with:
                    images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

            -   name: Build and push Docker image
                id: build-and-push
                uses: docker/build-push-action@5cd11c3a4ced054e52742c5fd54dca954e0edd85
                with:
                    context: "{{defaultContext}}:7.4"
                    push: true
                    tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:7,${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:7.4

    build80:

        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
            id-token: write

        steps:
            -   name: Checkout repository
                uses: actions/checkout@v6

            -   name: Install cosign
                uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad
                with:
                    cosign-release: 'v1.4.0'

            -   name: Setup Docker buildx
                uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f

            -   name: Log into registry ${{ env.REGISTRY }}
                uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9
                with:
                    registry: ${{ env.REGISTRY }}
                    username: ${{ github.actor }}
                    password: ${{ secrets.GITHUB_TOKEN }}

            -   name: Extract Docker metadata
                id: meta
                uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051
                with:
                    images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

            -   name: Build and push Docker image
                id: build-and-push
                uses: docker/build-push-action@5cd11c3a4ced054e52742c5fd54dca954e0edd85
                with:
                    context: "{{defaultContext}}:8.0"
                    push: ${{ github.event_name != 'pull_request' }}
                    tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:8.0

    build81:

        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
            id-token: write

        steps:
            -   name: Checkout repository
                uses: actions/checkout@v6

            -   name: Install cosign
                uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad
                with:
                    cosign-release: 'v1.4.0'

            -   name: Setup Docker buildx
                uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f

            -   name: Log into registry ${{ env.REGISTRY }}
                uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9
                with:
                    registry: ${{ env.REGISTRY }}
                    username: ${{ github.actor }}
                    password: ${{ secrets.GITHUB_TOKEN }}

            -   name: Extract Docker metadata
                id: meta
                uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051
                with:
                    images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

            -   name: Build and push Docker image
                id: build-and-push
                uses: docker/build-push-action@5cd11c3a4ced054e52742c5fd54dca954e0edd85
                with:
                    context: "{{defaultContext}}:8.1"
                    push: ${{ github.event_name != 'pull_request' }}
                    tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest,${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:8.1

    build82:

        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
            id-token: write

        steps:
            -   name: Checkout repository
                uses: actions/checkout@v6

            -   name: Install cosign
                uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad
                with:
                    cosign-release: 'v1.4.0'

            -   name: Setup Docker buildx
                uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f

            -   name: Log into registry ${{ env.REGISTRY }}
                uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9
                with:
                    registry: ${{ env.REGISTRY }}
                    username: ${{ github.actor }}
                    password: ${{ secrets.GITHUB_TOKEN }}

            -   name: Extract Docker metadata
                id: meta
                uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051
                with:
                    images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

            -   name: Build and push Docker image
                id: build-and-push
                uses: docker/build-push-action@5cd11c3a4ced054e52742c5fd54dca954e0edd85
                with:
                    context: "{{defaultContext}}:8.2"
                    push: ${{ github.event_name != 'pull_request' }}
                    tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest,${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:8.2

    build83:

        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
            id-token: write

        steps:
            -   name: Checkout repository
                uses: actions/checkout@v6

            -   name: Install cosign
                uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad
                with:
                    cosign-release: 'v1.4.0'

            -   name: Setup Docker buildx
                uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f

            -   name: Log into registry ${{ env.REGISTRY }}
                uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9
                with:
                    registry: ${{ env.REGISTRY }}
                    username: ${{ github.actor }}
                    password: ${{ secrets.GITHUB_TOKEN }}

            -   name: Extract Docker metadata
                id: meta
                uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051
                with:
                    images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

            -   name: Build and push Docker image
                id: build-and-push
                uses: docker/build-push-action@5cd11c3a4ced054e52742c5fd54dca954e0edd85
                with:
                    context: "{{defaultContext}}:8.3"
                    push: ${{ github.event_name != 'pull_request' }}
                    tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest,${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:8.3
