name: Docker Release

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

on:
    schedule:
        -   cron: '36 18 * * *'
    push:
        branches: [ master ]
        tags:
            - "*"
    pull_request:
        branches: [ master ]

env:
    REGISTRY: ghcr.io
    IMAGE_NAME: larvatecn/php

jobs:

    build74:

        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
            id-token: write

        steps:
            -   name: Checkout repository
                uses: actions/checkout@v4

            -   name: Install cosign
                uses: sigstore/cosign-installer@8c9caa0770665566557753619ac7be56d41f8896
                with:
                    cosign-release: 'v1.4.0'

            -   name: Setup Docker buildx
                uses: docker/setup-buildx-action@d70bba72b1f3fd22344832f00baa16ece964efeb

            -   name: Log into registry ${{ env.REGISTRY }}
                uses: docker/login-action@e92390c5fb421da1463c202d546fed0ec5c39f20
                with:
                    registry: ${{ env.REGISTRY }}
                    username: ${{ github.actor }}
                    password: ${{ secrets.GITHUB_TOKEN }}

            -   name: Extract Docker metadata
                id: meta
                uses: docker/metadata-action@8e5442c4ef9f78752691e2d8f8d19755c6f78e81
                with:
                    images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

            -   name: Build and push Docker image
                id: build-and-push
                uses: docker/build-push-action@5cd11c3a4ced054e52742c5fd54dca954e0edd85
                with:
                    context: "{{defaultContext}}:7.4"
                    push: true
                    tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:7,${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:7.4

    build80:

        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
            id-token: write

        steps:
            -   name: Checkout repository
                uses: actions/checkout@v4

            -   name: Install cosign
                uses: sigstore/cosign-installer@8c9caa0770665566557753619ac7be56d41f8896
                with:
                    cosign-release: 'v1.4.0'

            -   name: Setup Docker buildx
                uses: docker/setup-buildx-action@d70bba72b1f3fd22344832f00baa16ece964efeb

            -   name: Log into registry ${{ env.REGISTRY }}
                uses: docker/login-action@e92390c5fb421da1463c202d546fed0ec5c39f20
                with:
                    registry: ${{ env.REGISTRY }}
                    username: ${{ github.actor }}
                    password: ${{ secrets.GITHUB_TOKEN }}

            -   name: Extract Docker metadata
                id: meta
                uses: docker/metadata-action@8e5442c4ef9f78752691e2d8f8d19755c6f78e81
                with:
                    images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

            -   name: Build and push Docker image
                id: build-and-push
                uses: docker/build-push-action@5cd11c3a4ced054e52742c5fd54dca954e0edd85
                with:
                    context: "{{defaultContext}}:8.0"
                    push: ${{ github.event_name != 'pull_request' }}
                    tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:8.0

    build81:

        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
            id-token: write

        steps:
            -   name: Checkout repository
                uses: actions/checkout@v4

            -   name: Install cosign
                uses: sigstore/cosign-installer@8c9caa0770665566557753619ac7be56d41f8896
                with:
                    cosign-release: 'v1.4.0'

            -   name: Setup Docker buildx
                uses: docker/setup-buildx-action@d70bba72b1f3fd22344832f00baa16ece964efeb

            -   name: Log into registry ${{ env.REGISTRY }}
                uses: docker/login-action@e92390c5fb421da1463c202d546fed0ec5c39f20
                with:
                    registry: ${{ env.REGISTRY }}
                    username: ${{ github.actor }}
                    password: ${{ secrets.GITHUB_TOKEN }}

            -   name: Extract Docker metadata
                id: meta
                uses: docker/metadata-action@8e5442c4ef9f78752691e2d8f8d19755c6f78e81
                with:
                    images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

            -   name: Build and push Docker image
                id: build-and-push
                uses: docker/build-push-action@5cd11c3a4ced054e52742c5fd54dca954e0edd85
                with:
                    context: "{{defaultContext}}:8.1"
                    push: ${{ github.event_name != 'pull_request' }}
                    tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest,${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:8.1

    build82:

        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
            id-token: write

        steps:
            -   name: Checkout repository
                uses: actions/checkout@v4

            -   name: Install cosign
                uses: sigstore/cosign-installer@8c9caa0770665566557753619ac7be56d41f8896
                with:
                    cosign-release: 'v1.4.0'

            -   name: Setup Docker buildx
                uses: docker/setup-buildx-action@d70bba72b1f3fd22344832f00baa16ece964efeb

            -   name: Log into registry ${{ env.REGISTRY }}
                uses: docker/login-action@e92390c5fb421da1463c202d546fed0ec5c39f20
                with:
                    registry: ${{ env.REGISTRY }}
                    username: ${{ github.actor }}
                    password: ${{ secrets.GITHUB_TOKEN }}

            -   name: Extract Docker metadata
                id: meta
                uses: docker/metadata-action@8e5442c4ef9f78752691e2d8f8d19755c6f78e81
                with:
                    images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

            -   name: Build and push Docker image
                id: build-and-push
                uses: docker/build-push-action@5cd11c3a4ced054e52742c5fd54dca954e0edd85
                with:
                    context: "{{defaultContext}}:8.2"
                    push: ${{ github.event_name != 'pull_request' }}
                    tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest,${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:8.2

    build83:

        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
            id-token: write

        steps:
            -   name: Checkout repository
                uses: actions/checkout@v4

            -   name: Install cosign
                uses: sigstore/cosign-installer@8c9caa0770665566557753619ac7be56d41f8896
                with:
                    cosign-release: 'v1.4.0'

            -   name: Setup Docker buildx
                uses: docker/setup-buildx-action@d70bba72b1f3fd22344832f00baa16ece964efeb

            -   name: Log into registry ${{ env.REGISTRY }}
                uses: docker/login-action@e92390c5fb421da1463c202d546fed0ec5c39f20
                with:
                    registry: ${{ env.REGISTRY }}
                    username: ${{ github.actor }}
                    password: ${{ secrets.GITHUB_TOKEN }}

            -   name: Extract Docker metadata
                id: meta
                uses: docker/metadata-action@8e5442c4ef9f78752691e2d8f8d19755c6f78e81
                with:
                    images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

            -   name: Build and push Docker image
                id: build-and-push
                uses: docker/build-push-action@5cd11c3a4ced054e52742c5fd54dca954e0edd85
                with:
                    context: "{{defaultContext}}:8.3"
                    push: ${{ github.event_name != 'pull_request' }}
                    tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest,${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:8.3
